<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="description" content="Web yang akan memudahkan dalam menemukan restoran/kafe terbaik di Indonesia">
    <link rel="shortcut icon" href="../public/icons/coffee.png" type="image/x-icon">
    <link rel="preload" href="https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
    <title>Cafein</title>
</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <div id="root"></div>
</body>
</html>