@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;

$primary-color: #FF5733;
$secondary-color: #C70039;
$dark-color: #571845;

$transition: ease-in-out .4s all;

@mixin column-gap($value) {
  & > *:not(:last-child) {
    margin-right: $value;
  }
}

@mixin row-gap($value) {
  & > *:not(:last-child) {
    margin-bottom: $value;
  }
}