@import './variable';
@import './responsive';

favorite-button {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: lighten($color: $secondary-color, $amount: 25%);
  box-shadow: 0 0 10px #aaaaaa79;
}

@include media-sm {
  favorite-button {
    right: 2rem;
  }
}

@include media-md {
  favorite-button {
    right: 3rem;
    bottom: 4rem;
  }
}