@import './responsive';
@import './variable';

#top-section {
    width: 100vw;
    height: auto;
    max-width: 1440px;
    padding: 0 1rem;
    margin: 6rem auto 0 auto;

    .section__title {
        width: max-content;
        height: auto;
        position: relative;
        display: block;

        &::after {
            width: 175px;
            height: 35px;
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            background-color: #FFC300;
            opacity: .5;
        }
    }

    .wrap {
        width: 100%;
        height: max-content;
        max-width: 1080px;
        margin: 4rem auto 0 auto;
        display: grid;
        justify-content: flex-start;
        align-items: center;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

@include media-sm {
    #top-section {  
        padding: 0 2rem;
    }
}

@include media-md {
    #top-section {  
        padding: 0 3rem;

        .wrap {
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;
        }
    }
}

@include media-lg {
    #top-section {  
        padding: 0 8rem;

        .wrap {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;
        }
    }
}
