@import '../responsive';

#detail-page {
  width: 100vw;
  height: max-content;
  padding: 100px 0 0 0;
  min-height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

@include media-lg {
  #detail-page {
    max-width: 1280px;
    padding: 8rem 8rem 0 8rem ;
    grid-template-columns: 1fr auto;
    grid-template-rows: max-content auto;
    row-gap: 4rem;
    column-gap: 2.5rem;

    menu-container {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}